@font-face {
    font-family: 'Norse';
    src: url('../fonts/Norse-Bold.otf');
}

@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf');
}


* {
    /* border: 1px solid red; */
}

:root {
    font-size: 100%;
    font-family: 'Mukta', Arial, Helvetica,sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

/* -----------------------SIDEBAR------------------------ */

.image-sidebar {
    flex: 30%;
    background-image: url('../img/bg_image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    /* min-width: 0; */
}

.logo {
    height: 15%;
    margin-top: 35%;
    background-color: rgba(0,0,0,0.4);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.logo .logo-img {
    height: 90%;
}

.logo .logo-title {
    font-family: 'Norse';
    font-size: 5.2rem;
    font-weight: bold;
    color: white;
}

.image-sidebar .credit {
    padding: 0.5em;
    margin-top: auto;
    color: white;
    text-align: center;
}

.image-sidebar a  {
    color: white;
}

/* -------------------FORM------------------------ */

.form-content {
    flex: 70%;
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}


.form-content .form-header {
    flex: 34%;
    background-color: #F9F7F7;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-header > h2 {
    letter-spacing: 0.1em;
    padding: 0 35% 0 5%;
    font-weight: 600;
}

.form-header > h2:nth-child(1) {
    margin-bottom: 0;
}

.form-header > h2:nth-child(2) {
    margin-top: 0;
}

.form-header > h2:last-child {
    margin-bottom: 5%
}

/* ---------------------------FORM ELEMENTS-------------------------- */

.form-content #form-body {
    flex: 32%;
    padding: 1em 5em 2em 3em;
    box-shadow: 3px 3px 5px #888888;
}

#form-body .form-elements {
    padding-right: 15em;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 5rem;
    row-gap: 2rem;

}

.form-elements .form-element {
    display:flex;
    flex-direction: column;
}

.form-element label {
    font-size: 0.95rem;
}

input {
    border-style: solid;
    border-width: 2px;
    border-color: #E5E7EB;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 0.3em 0.4em;
    outline: none;
}

.form-element input:focus {
    border: 2px solid blue;
    box-shadow: 3px 3px 5px blue;
}

/* Styling for valid inputs ✓ ✕ */
.form-element input:invalid:not(.error) + span {
    position: relative;
}

.form-element input:invalid:not(.error) + span::after {
    content: "✕";
    position: absolute;
    color: red;
    font-weight: bold;
    top: -24px;
    right: -18px;
}

.form-element input:valid:not(.error) + span {
    position: relative;
}

.form-element input:valid:not(.error) + span::after {
    content: "✓";
    position: absolute;
    color: green;
    font-weight: bold;
    top: -24px;
    right: -18px;
}


.error {
    border-color: red;
}

.form-element .error:focus {
    border: 2px solid red;
    box-shadow: 3px 3px 5px red;
}

/*---------------- FOOTER -----------------*/

.form-content .form-footer {
    flex: 34%;
    background-color: #F9F7F7;
    margin-top: 6px;
    padding: 2em 3em;
}

.form-footer button {
    border: none;
    background-color: #596D48;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    padding: 0.6em 2em;
    font-weight: bold;
    letter-spacing: 0.08em;
    box-shadow: 3px 3px 5px #888888;
}

.form-footer p {
    margin-top: 1.5rem;
    font-size: 1.1rem;
}

.form-footer p a {
    text-decoration: none;
    font-weight: bold;
    color: #596D48;
}